<main>
    <article class="convo">
        <div class="row">
            <div class="col-12">
                <div class="starter center">
                    <h2 class="starter-text">Giant salamanders</h2>
                </div>
            </div>
            <div class="col-12">    
                <div class="actions center">
                    <label for="reply-box" hidden="hidden">Reply Box</label>
                    <input class="inputs long-form center" type="text" name="reply-box" value="Join the conversation" />
                    <button class="col-12" type="submit">Submit</button>
                </div>
            </div>
            <div class="col-12">
                <ul class="replies end-point">
                    <li>
                        <p> <!-- No profile.html yet! -->
                            <span class="user-name"><a href="profile.html">lorem_ipsum</a>:</span> <span class="reply-text">Dolor sit amet, dicant repudiandae te vix, in qui causae adipisci. Per nulla adipiscing ei. Eros scaevola at sit, persius phaedrum an duo, cu mel mazim euripidis. No per duis vidisse torquatos, usu ne purto consul.</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="user-name">in_pri_aliquam:</span> <span class="reply-text">Omittam, ea pri vidit inani, ea vitae ornatus forensibus sit. Ei eos facer salutandi repudiandae, usu stet ridens ei.</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>     
    </article>            
</main>