<!DOCTYPE html>

<html>
    <head>
        <title>Convo Gen</title>
    
        <link rel="stylesheet" href="/stylesheets/simple-grid.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
            
        <!--Adding Fonts -->
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway:400,200italic,200,100,100italic,300,300italic,600,600italic,400italic'>

        <!--Adding Icons-->
        <script src="https://use.fontawesome.com/27d3409510.js"></script>  
          
    </head>

    <body>
        <%= yield %>
    </body>
</html>